@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

:root {
    --color-mimi: #7159c1;
    --color-red: #ff0000;
    --color-full: #282a36;
    --color-andersonteala: #4169e1;
    --color-top: #d7d2e9;
    --color-kike: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: var(--color-full);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    padding: 10px;
    border-bottom: 1px solid #333;
    text-align: center;
    background-color: var(--color-top);
}

.releases h3{
    padding: 24px;
    color: var(--color-mimi);
    font-size: 44px;
    text-align: center;
}

.predios img {
    height:300px;
    width: 100%;
}

.logo {
    padding: 5px;
}

.menu a {
    color: black;
    font-size: 18px;
    line-height: 38px;
    margin: 0 16px;
    text-decoration: none;
}

.menu a:hover {
    color: var(--color-mimi);
    transition: color 700ms;
}

.alica {
    text-align: center;
    padding: 32px;
}

#imgmimi img {
    border-radius: 50px 50px;
    border: 5px solid var(--color-mimi);
    margin-bottom: 32px;
    height: 300px;
}

.alica h1 {
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
}

.alica h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

.alica p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

.alica p a {
    color: (var(--color-mimi));
    
}

.alica p a:hover {
    color: var(--color-mimi);
    transition: color 700ms;
}

/*== imoveis ==*/

.imoveis {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.imoveis-home {
    background-color: var(--color-mimi);
    border-radius: 1%;
    border: 5px solid var(--color-mimi);
}

.imoveis-container img {
    width: 100%;
    filter: brightness(50%);
}

.class-content,
.class-info {
    text-align: center;
    padding: 5px;
    font-size: 24px;
}

.class-content p {
    padding: 5px;
}

.bairro {
    font-size: 15px;
}

.class-info {
    grid-template-columns: 1fr 1fr;
}

.class-info p {
    background-color: var(--color-mimi);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*== INFORMACOES NO INICIO ==*/

.death {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 10px;
}

.death p {
    font: 20px;
    text-align: center;
    background-color: var(--color-mimi);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: auto;
}

/*== FOOTER ==*/

.footer {
    font-size: 14px;
    color: var(--color-andersonteala);
    text-align: center;
    padding: 20px;
    background-color: #d7d2e9;
}

.footer p a {
    text-decoration: none;
    color: var(--color-full);
    line-height: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*== PROPERTIES ==*/

.crack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1px;
}

.prip h4 {
    font-size: 54px;
    padding: 14px;
    text-align: center;
    color: var(--color-mimi);
}

.gizes{
    max-width: auto;
    gap: 200px;
    padding: 24px;
}

.gizes img{
    height: 380px;
    border-radius: 15px;
}

#lazer {
    color: var(--color-kike);
    font-size: 36px;
}

.gizes p{
    font-size: 18px;
    text-align: left;
    color: var(--color-kike);
    font-weight: bold;
    padding: 10px;
}

.cards {
    background-color: var(--color-mimi);
    padding: 5px;
    border-radius: 5px;
}

.map {
    padding: 5px;
}

.pop p{
    text-align: left;
    font-size: 34px;
    padding: 5px;
}

.lazer p{
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

/*== ABOUT ==*/

.about h1 {
    padding: 8px;
    font-size: 52px;
    text-align: center;
}

.about p {
    padding: 14px;
    font-size: 24px;
    text-align: left;
}

.about {
    padding: 24px;
}

/*== FORM ==*/

.contact {
    padding: 24px;
}

.contact h1 {
    padding: 8px;
    font-size: 52px;
    text-align: center;
}

.contact p {
padding: 5px;
font-size: 18px;
text-align: center;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid var(--color-mimi);
    border-radius: 1em;
    background-color: var(--color-top);
    color: var(--color-full);
    font-weight: bold;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid var(--color-mimi);
}

input:focus, textarea:focus {
    border-color: var(--color-mimi);
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 100px;
}

button {
    background-color: var(--color-full);
    border-radius: 10px;
    margin-left: .5em;
    color: var(--color-top);
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}